body {
    margin: 0;
}
.box {
    display: block;
    width: 1000px;
    min-height: 1000px;
    margin: 0 auto;
    background-color: grey;
    padding-top: 30px;
}
.dynamictb {
    width: 700px;
    margin: 0 auto;
    background-color: lightgrey;
}
.dynamictb table {
    width: 100%;
    border-collapse: collapse ;

}
.dynamictb td {
    text-align: center;
    color: #fff;
}
.dynamictb table, th, td {
    border: 1px solid black;
}
#sendId {
    width: 700px;
    margin: 0 auto;
    background-color: lightblue;
}
#sendId div {
    margin-bottom: 10px;
}
#sendId button {
    margin-left: 20px;
    background-color: green;
    border: none;
}
#sendId .active {
    background-color: blue;
}
.inputData {
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: lightgreen;
}
.inputData div {
    background-color: lightblue;
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
}
.inputData p {
    text-align: center;
}
input {
    display: block;
    margin: 0 auto;
    width: 280px;
}
.inputData button {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}
.colored-toast .swal2-title {
    color: white;
}
.colored-toast .swal2-close {
    color: white;
}
.colored-toast .swal2-html-container {
    color: white;
}